body{
    background-color: hsl(210, 46%, 95%);
    margin: 0;
}

.slot{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame{
    display: grid;
    grid-template-columns: repeat(4, 280px);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
}

.frame .first{
    grid-column: span 2;
    background:url(./bg-pattern-quotation.svg), hsl(263, 55%, 52%);
    background-repeat: no-repeat;
    background-position:80% 0%;
    background-size: 135px;
    border-radius: 10px;
 }

.frame .second{
    background-color: hsl(217, 19%, 35%);
    border-radius: 10px;
}

.frame .third{
    grid-row: span 2;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}

.frame .fourth{
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}

.frame .fifth{
    background-color: hsl(219, 29%, 14%);
    grid-column: span 2;
    border-radius: 10px;
}

.frame .head{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 15px 30px 15px 30px;
}

.frame .head img{
    border-radius: 50%;
}

.frame .head .name .name1{
    color: white;
    margin-bottom: 5px;
    font-size: 16px;
 }

.frame .head p{
    margin: 0%;
    color: hsl(0, 0%, 81%);
    font-size: 13px;
}

.frame .text{
    color: hsl(0, 0%, 100%);
    margin: 20px 30px 20px 30px;
    font-size: 20px;
}

.frame .para{
    margin: 20px 30px 20px 30px;
    font-size: 13px;
    color: hsl(0, 0%, 81%);
}

.frame .para1{
    margin: 15px 30px 15px 30px;
    font-size: 13px;
    color: hsl(0, 0%, 81%);
}

.frame .head .name .name2{
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
    font-size: 16px;
}

.frame .text1{
    color: hsl(0, 0%, 0%);
    margin: 20px 30px 20px 30px;
    font-size: 25px;
}

.frame .fourth .text1{
    font-size: 22px;
    margin: 20px 30px 20px 30px;
}

.third .para1{
    font-size: 14px;
}

@media (min-width:640px) and (max-width:1280px) {
    body .frame{
        height: 100%;
        display: grid;
        grid-template-columns: 300px 300px;
        grid-template-rows: repeat(4, auto); 

    }

    .slot{
        height: 100%;
    }

    body{
        margin: 30px 0 30px 0;
    }
} 

@media (min-width:358px) and (max-width:639px) {
    body .frame{
        height: 100%;
        grid-template-columns: 300px;
        grid-template-rows: repeat(8, auto);
    }

    .slot{
        height: 100%;
    }
    
    body{
        margin: 30px 0 30px 0;
    }

    .frame .first{
       grid-area: 1/1/3/2;
       background-position:90% 0%;
     }
    
    .frame .third{
        grid-area: 7/1/9/2;
    }
    
    .frame .fifth{
       grid-area: 5/1/7/2;
    }
}


